@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shrikhand&family=Tenor+Sans&display=swap');

body {
  background-color: #fffdfdff;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

main {
  padding-left: 20px;
}

h1 {
    font-family: 'Tenor Sans';
    font-weight: 600;
    font-size: 60px;
    color: #222222ff;
}

h3 {
    font-family: 'Poppins';
    font-weight: 600;
    color: #222222ff;
}

p {
    font-family: 'Poppins';
    font-size: 15px;
}

.about-text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 400px;
}
.line {
    margin-bottom: 10px;
}

a {
    color: #856084ff;
    text-decoration: none;
}

/* STYLE NAV BAR */
nav {
    padding-left: 10px;
    margin-left: 25px;
    padding-right: 12px;
    margin-right: 50px;
    padding-top: 10px;
    margin-top: 25px;
    padding-bottom: 8px;
    border: 2px solid #222222ff;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    width: 260px;           
    align-self: flex-start;
}

button {
    font-family: 'Tenor Sans';
    font-size: 15px;
    color: #222222ff;
    background-color: transparent;
    border: none;
}

#nav-title {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    margin: 3px;
}

#nav-img {
    border: 2px solid #222222ff;
}
